/* src/assets/styles/global.css */

:root {
    --transition-all: all 0.3s ease-in-out;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: clamp(16px, 5vw, min(60px, 8vh)); /* UPRAVENO */
    color: #593b15;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: clamp(14px, 4vw, min(48px, 8vh));  /* UPRAVENO */
    color: #593b15;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px !important;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
}

h5 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}

body {
    color: #1a1a1a !important;
}