/* src/assets/styles/global.css */

:root {
    --transition-all: all 0.3s ease-in-out;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 60px !important;
    color: #593b15;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 48px !important;
    color: #593b15
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px !important;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
}

h5 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
}

body {
    color: #1a1a1a !important;
}